@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  background: #121232; }

main {
  margin-left: 176px; }

.editor__Tittle {
  font-size: 44px;
  color: #ffffff;
  font-weight: normal;
  margin-top: 104px;
  margin-bottom: 8px; }

.editor__Info {
  color: #ffffff;
  font-size: 16px;
  margin: 10px 0 0; }

.editor__InputBox {
  width: 512px;
  height: 240px;
  margin-bottom: 16px;
  border-radius: 4px; }

.clearButton {
  width: 84px;
  height: 40px;
  order: 1px solid #232735;
  border-radius: 4px;
  margin-right: 36px;
  background: grey; }

.loadButton {
  width: 84px;
  height: 40px;
  order: 1px solid #232735;
  border-radius: 4px;
  margin-right: 36px;
  background: #27ae60; }

.saveButton {
  width: 84px;
  height: 40px;
  order: 1px solid #232735;
  border-radius: 4px;
  margin-right: 36px;
  background: #eb5757; }
