//@import "/node_modules/normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #121232;
}

.buttons {
}
main {
  width: 100%;
  margin: 96px auto 0 auto;
  display: block;
}

.editor {
  width: 80%;
  margin: 0 auto;
}
.editor__Tittle {
  font-size: 44px;
  color: #ffffff;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 8px;
}

.editor__Info {
  color: #ffffff;
  font-size: 16px;
  margin: 10px 0 0;
}

.editor__InputBox {
  width: 100%;
  height: 240px;
  display: block;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
}

@mixin buttonLook($backgroundColor) {
  width: 84px;
  height: 40px;
  order: 1px solid #232735;
  border-radius: 4px;
  margin-right: 36px;
  background: $backgroundColor;
}
.clearButton {
  @include buttonLook(grey);
}
.loadButton {
  @include buttonLook(#27ae60);
}
.saveButton {
  @include buttonLook(#eb5757);
}
