html {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #121232;
  box-sizing: border-box;
}

main {
  margin-left: 176px;
}

.editor__Tittle {
  font-size: 44px;
  color: #ffffff;
  font-weight: normal;
  margin-top: 104px;
  margin-bottom: 8px;
}

.editor__InputBox {
    width: 512px;
    height: 240px;
margin-bottom: 16px;
}

.openButton {
    width: 84px;
    height: 40px;
    background: #27AE60;
    border: 1px solid #232735;
box-sizing: border-box;
border-radius: 4px;
margin-left: 36px;
}

.saveButton {
    width: 84px;
    height: 40px;
    background: #EB5757;
    border: 1px solid #232735;
box-sizing: border-box;
border-radius: 4px;
}
